In [53]:
import numpy as np
import pandas as pd
import matplotlib as plt

from matplotlib import pylab, mlab, pyplot
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 3)
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [3]:
# reading in a sample week of data 
df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190907.txt")

In [4]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,00:00:00,REGULAR,7183242,2433142
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,04:00:00,REGULAR,7183258,2433149
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,08:00:00,REGULAR,7183278,2433176
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,12:00:00,REGULAR,7183393,2433262
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/31/2019,16:00:00,REGULAR,7183572,2433312

## cleaning data:

In [5]:
# adding column of 'datetime' objects
df["DATETIME"] = pd.to_datetime(df["DATE"] + " " + df["TIME"])

In [12]:
# also replacing DATE column with 'datetime' objects of just date (no time)
# to help with later filtering
df["DATE"] = pd.to_datetime(df["DATE"])

In [16]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,00:00:00,REGULAR,7183242,2433142,2019-08-31 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,04:00:00,REGULAR,7183258,2433149,2019-08-31 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,08:00:00,REGULAR,7183278,2433176,2019-08-31 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,12:00:00,REGULAR,7183393,2433262,2019-08-31 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,16:00:00,REGULAR,7183572,2433312,2019-08-31 16:00:00

In [18]:
# cleaning up column name EXIT which had trailing spaces
df.rename(columns={'EXITS                                                               ':"EXITS"}, inplace=True)

In [19]:
# finding actual entries and exits during each time period by finding difference
# in readings, for each turnstile
real_entries = df.groupby(["C/A", "UNIT", "SCP"]).agg({"ENTRIES": "diff"})
real_exits = df.groupby(["C/A", "UNIT", "SCP"]).agg({"EXITS": "diff"})

the above real entries and exits data was found using the pandas aggregate function "diff". the entries and exists were cumulative outputs for all time, so only the difference between each value and teh value before it would be the entries in that time period. Per documentation of pandas 'diff': "Calculates the difference of a DataFrame element compared with another element in the DataFrame (default is the element in the same column of the previous row)." This is exactly what we wanted to do. We broke it up into each individual unit first, becuase we only want it to subtract from entry/exit data for its own turnstile. therefore, first values for each turnstile, with nothing to subtract from (no preceding value), return NaN.

In [20]:
# adding actual entries and exits as columns to the DataFrame
df["REAL_ENTRIES"] = real_entries["ENTRIES"]
df["REAL_EXITS"] = real_exits["EXITS"]

## exploring data:

In [30]:
# finding outliers in actual entries and exits
df["REAL_ENTRIES"].sort_values(ascending=False).head(25)

73163     718560745.0
116104        92258.0
116895         7625.0
116877         7308.0
3095           2872.0
3089           2746.0
3101           2719.0
96607          2599.0
3173           2598.0
3185           2559.0
184356         2532.0
50270          2520.0
3107           2512.0
3179           2482.0
96613          2479.0
3137           2475.0
96601          2467.0
50276          2454.0
50264          2441.0
116408         2438.0
50318          2403.0
1373           2398.0
4873           2379.0
50312          2372.0
4915           2367.0
Name: REAL_ENTRIES, dtype: float64

In [31]:
# investigating highest value 
df.loc[73163]

C/A                            N205
UNIT                           R195
SCP                        02-00-00
STATION             161/YANKEE STAD
LINENAME                        BD4
DIVISION                        IND
DATE            2019-09-06 00:00:00
TIME                       12:22:00
DESC                        REGULAR
ENTRIES                   721441289
EXITS                    1895802233
DATETIME        2019-09-06 12:22:00
REAL_ENTRIES            7.18561e+08
REAL_EXITS              1.88641e+09
Name: 73163, dtype: object

even though there is probably a lot of foot traffic near Yankee Stadium,
over 700 million people in 4 hours is beyond unrealistic
its exits value is also absurdly high, indicating a malfunction at this time
deciding to remove this data point.

In [32]:
# investigating next highest, with 90,000: 
df.loc[116104]

C/A                           PTH03
UNIT                           R552
SCP                        00-00-00
STATION              JOURNAL SQUARE
LINENAME                          1
DIVISION                        PTH
DATE            2019-09-01 00:00:00
TIME                       15:50:02
DESC                        REGULAR
ENTRIES                      126651
EXITS                        126869
DATETIME        2019-09-01 15:50:02
REAL_ENTRIES                  92258
REAL_EXITS                   110916
Name: 116104, dtype: object

In [33]:
df.loc[116895]

C/A                           PTH03
UNIT                           R552
SCP                        00-01-08
STATION              JOURNAL SQUARE
LINENAME                          1
DIVISION                        PTH
DATE            2019-09-06 00:00:00
TIME                       12:03:31
DESC                        REGULAR
ENTRIES                        7626
EXITS                          6509
DATETIME        2019-09-06 12:03:31
REAL_ENTRIES                   7625
REAL_EXITS                     6509
Name: 116895, dtype: object

In [36]:
df.loc[116877]

C/A                           PTH03
UNIT                           R552
SCP                        00-01-08
STATION              JOURNAL SQUARE
LINENAME                          1
DIVISION                        PTH
DATE            2019-09-03 00:00:00
TIME                       12:39:31
DESC                        REGULAR
ENTRIES                        7309
EXITS                          6264
DATETIME        2019-09-03 12:39:31
REAL_ENTRIES                   7308
REAL_EXITS                     6264
Name: 116877, dtype: object

all 3 of the above data points are for the same station, with single reading (4 hour) riderships of ~90,000, ~7000 and ~7000 respectively, far above the next highest readings which are all in the range of ~2000. Furthermore, they jump up by this much all at once -- the total entries/exits for that turnstile are equal to the real_entries/real_exits or 4-hour change, hence the turnstile probably reset just before that. These data points should also be eliminated.

In [67]:
df["REAL_EXITS"].sort_values(ascending=False).head(25)

73163    1886405893.0
116104       110916.0
116895         6509.0
116877         6264.0
97422          5598.0
52968          4876.0
53010          4477.0
52950          4263.0
52962          4218.0
52956          4203.0
125525         4019.0
125536         3907.0
159575         3813.0
52998          3772.0
52992          3691.0
53004          3565.0
159574         3506.0
116569         3348.0
98533          3280.0
53052          3242.0
159029         3215.0
76941          3210.0
195022         3161.0
195034         3152.0
195016         3151.0
Name: REAL_EXITS, dtype: float64

the rows with highest exits are the same as those with highest entries above. the first 2 definitely seem anomalous. However, here the next 2 (row 116895 and 116877) are not far off from the rest of the data at all.. Looking at rows before and after the 2nd highest value (row 116104):

In [74]:
df.loc[116103:116105]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,REAL_ENTRIES,REAL_EXITS
116103,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,13:05:39,REGULAR,34393,15953,2019-09-01 13:05:39,73.0,17.0
116104,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,15:50:02,REGULAR,126651,126869,2019-09-01 15:50:02,92258.0,110916.0
116105,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,17:17:39,REGULAR,34450,15975,2019-09-01 17:17:39,-92201.0,-110894.0

it's clear that 116104 should be removed, as it causes the next entry to dip into the negative which is impossible. obviously negative data points will need to be removed but more on that later. 

looking at rows surrounding 3rd highest (row 116895):

In [73]:
df.loc[116894:116896]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,REAL_ENTRIES,REAL_EXITS
116894,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-09-06,09:36:51,REGULAR,1,0,2019-09-06 09:36:51,-7577.0,-6487.0
116895,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-09-06,12:03:31,REGULAR,7626,6509,2019-09-06 12:03:31,7625.0,6509.0
116896,PTH03,R552,00-01-08,JOURNAL SQUARE,1,PTH,2019-09-06,16:15:31,REGULAR,7639,6536,2019-09-06 16:15:31,13.0,27.0

so, this indicates that the high reading of ~7000 at row 116895 was only because the row that preceded it was negative. hence it actually should also be removed.

In [71]:
df[df["STATION"] == "JOURNAL SQUARE"].head(100)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,REAL_ENTRIES,REAL_EXITS
116095,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-08-31,03:29:39,REGULAR,34042,15843,2019-08-31 03:29:39,nan,nan
116096,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-08-31,07:41:39,REGULAR,34062,15866,2019-08-31 07:41:39,20.0,23.0
116097,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-08-31,11:53:39,REGULAR,34132,15886,2019-08-31 11:53:39,70.0,20.0
116098,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-08-31,16:05:39,REGULAR,34217,15904,2019-08-31 16:05:39,85.0,18.0
116099,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-08-31,20:17:39,REGULAR,34279,15916,2019-08-31 20:17:39,62.0,12.0
116100,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,00:29:39,REGULAR,34298,15925,2019-09-01 00:29:39,19.0,9.0
116101,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,04:41:39,REGULAR,34298,15929,2019-09-01 04:41:39,0.0,4.0
116102,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,08:53:39,REGULAR,34320,15936,2019-09-01 08:53:39,22.0,7.0
116103,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,13:05:39,REGULAR,34393,15953,2019-09-01 13:05:39,73.0,17.0
116104,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,15:50:02,REGULAR,126651,126869,2019-09-01 15:50:02,92258.0,110916.0
116105,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,17:17:39,REGULAR,34450,15975,2019-09-01 17:17:39,-92201.0,-110894.0
116106,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-01,21:29:39,REGULAR,34475,15990,2019-09-01 21:29:39,25.0,15.0
116107,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-02,01:41:39,REGULAR,34484,16014,2019-09-02 01:41:39,9.0,24.0
116108,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-02,05:53:39,REGULAR,34490,16020,2019-09-02 05:53:39,6.0,6.0
116109,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-02,10:05:39,REGULAR,34515,16023,2019-09-02 10:05:39,25.0,3.0
116110,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-02,14:17:39,REGULAR,34555,16032,2019-09-02 14:17:39,40.0,9.0
116111,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-02,18:29:39,REGULAR,34588,16045,2019-09-02 18:29:39,33.0,13.0
116112,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-02,22:41:39,REGULAR,34608,16053,2019-09-02 22:41:39,20.0,8.0
116113,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-03,02:53:39,REGULAR,34612,16065,2019-09-03 02:53:39,4.0,12.0
116114,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-03,07:05:39,REGULAR,34636,16074,2019-09-03 07:05:39,24.0,9.0
116115,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-03,11:17:39,REGULAR,35033,16094,2019-09-03 11:17:39,397.0,20.0
116116,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-03,15:29:39,REGULAR,35095,16133,2019-09-03 15:29:39,62.0,39.0
116117,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-03,19:41:39,REGULAR,35146,16167,2019-09-03 19:41:39,51.0,34.0
116118,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-03,23:53:39,REGULAR,35159,16190,2019-09-03 23:53:39,13.0,23.0
116119,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-04,04:05:39,REGULAR,35161,16204,2019-09-04 04:05:39,2.0,14.0
116120,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-04,08:17:39,REGULAR,35308,16219,2019-09-04 08:17:39,147.0,15.0
116121,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-04,12:29:39,REGULAR,35636,16235,2019-09-04 12:29:39,328.0,16.0
116122,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-04,16:41:39,REGULAR,35701,16250,2019-09-04 16:41:39,65.0,15.0
116123,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-04,20:53:39,REGULAR,35743,16272,2019-09-04 20:53:39,42.0,22.0
116124,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-05,01:05:39,REGULAR,35753,16286,2019-09-05 01:05:39,10.0,14.0
116125,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-05,05:17:39,REGULAR,35761,16297,2019-09-05 05:17:39,8.0,11.0
116126,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-05,09:29:39,REGULAR,36166,16316,2019-09-05 09:29:39,405.0,19.0
116127,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-05,13:41:39,REGULAR,36284,16331,2019-09-05 13:41:39,118.0,15.0
116128,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-05,17:53:39,REGULAR,36350,16388,2019-09-05 17:53:39,66.0,57.0
116129,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-05,22:05:39,REGULAR,36385,16444,2019-09-05 22:05:39,35.0,56.0
116130,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-06,02:17:39,REGULAR,36392,16472,2019-09-06 02:17:39,7.0,28.0
116131,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-06,06:29:39,REGULAR,36409,16487,2019-09-06 06:29:39,17.0,15.0
116132,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-06,10:41:39,REGULAR,36757,16506,2019-09-06 10:41:39,348.0,19.0
116133,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-06,14:53:39,REGULAR,36847,16526,2019-09-06 14:53:39,90.0,20.0
116134,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-06,19:05:39,REGULAR,36959,16622,2019-09-06 19:05:39,112.0,96.0
116135,PTH03,R552,00-00-00,JOURNAL SQUARE,1,PTH,2019-09-06,23:17:39,REGULAR,37050,16648,2019-09-06 23:17:39,91.0,26.0
116136,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-08-31,00:44:55,REGULAR,68092,26223,2019-08-31 00:44:55,nan,nan
116137,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-08-31,04:56:55,REGULAR,68100,26304,2019-08-31 04:56:55,8.0,81.0
116138,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-08-31,09:08:55,REGULAR,68165,26316,2019-08-31 09:08:55,65.0,12.0
116139,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-08-31,13:20:55,REGULAR,68359,26327,2019-08-31 13:20:55,194.0,11.0
116140,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-08-31,17:32:55,REGULAR,68524,26342,2019-08-31 17:32:55,165.0,15.0
116141,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-08-31,21:44:55,REGULAR,68620,26359,2019-08-31 21:44:55,96.0,17.0
116142,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-01,01:56:55,REGULAR,68641,26369,2019-09-01 01:56:55,21.0,10.0
116143,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-01,06:08:55,REGULAR,68650,26391,2019-09-01 06:08:55,9.0,22.0
116144,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-01,10:20:55,REGULAR,68722,26403,2019-09-01 10:20:55,72.0,12.0
116145,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-01,14:32:55,REGULAR,68937,26433,2019-09-01 14:32:55,215.0,30.0
116146,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-01,18:44:55,REGULAR,69067,26448,2019-09-01 18:44:55,130.0,15.0
116147,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-01,22:56:55,REGULAR,69100,26460,2019-09-01 22:56:55,33.0,12.0
116148,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-02,03:08:55,REGULAR,69117,26529,2019-09-02 03:08:55,17.0,69.0
116149,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-02,07:20:55,REGULAR,69148,26541,2019-09-02 07:20:55,31.0,12.0
116150,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-02,11:32:55,REGULAR,69233,26545,2019-09-02 11:32:55,85.0,4.0
116151,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-02,15:44:55,REGULAR,69320,26550,2019-09-02 15:44:55,87.0,5.0
116152,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-02,19:56:55,REGULAR,69382,26569,2019-09-02 19:56:55,62.0,19.0
116153,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-03,00:08:55,REGULAR,69398,26578,2019-09-03 00:08:55,16.0,9.0
116154,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-03,04:20:55,REGULAR,69408,26597,2019-09-03 04:20:55,10.0,19.0
116155,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-03,08:33:34,REGULAR,69821,26605,2019-09-03 08:33:34,413.0,8.0
116156,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-03,12:45:34,REGULAR,70244,26627,2019-09-03 12:45:34,423.0,22.0
116157,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-03,16:57:34,REGULAR,70374,26712,2019-09-03 16:57:34,130.0,85.0
116158,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-03,21:09:34,REGULAR,70449,26762,2019-09-03 21:09:34,75.0,50.0
116159,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-04,01:21:34,REGULAR,70471,26813,2019-09-04 01:21:34,22.0,51.0
116160,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-04,05:33:34,REGULAR,70490,26829,2019-09-04 05:33:34,19.0,16.0
116161,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-04,09:45:34,REGULAR,71157,26841,2019-09-04 09:45:34,667.0,12.0
116162,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-04,13:57:34,REGULAR,71350,26850,2019-09-04 13:57:34,193.0,9.0
116163,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-04,18:09:34,REGULAR,71519,26880,2019-09-04 18:09:34,169.0,30.0
116164,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-04,22:21:34,REGULAR,71572,26911,2019-09-04 22:21:34,53.0,31.0
116165,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-05,02:33:34,REGULAR,71585,26959,2019-09-05 02:33:34,13.0,48.0
116166,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-05,06:45:34,REGULAR,71663,26972,2019-09-05 06:45:34,78.0,13.0
116167,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-05,10:57:34,REGULAR,72369,26980,2019-09-05 10:57:34,706.0,8.0
116168,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-05,15:09:34,REGULAR,72523,27001,2019-09-05 15:09:34,154.0,21.0
116169,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-05,19:21:34,REGULAR,72644,27167,2019-09-05 19:21:34,121.0,166.0
116170,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-05,23:33:34,REGULAR,72678,27250,2019-09-05 23:33:34,34.0,83.0
116171,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-06,03:45:34,REGULAR,72683,27312,2019-09-06 03:45:34,5.0,62.0
116172,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-06,07:57:34,REGULAR,72910,27321,2019-09-06 07:57:34,227.0,9.0
116173,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-06,12:09:34,REGULAR,73462,27334,2019-09-06 12:09:34,552.0,13.0
116174,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-06,16:21:34,REGULAR,73653,27397,2019-09-06 16:21:34,191.0,63.0
116175,PTH03,R552,00-00-01,JOURNAL SQUARE,1,PTH,2019-09-06,20:33:34,REGULAR,74080,27513,2019-09-06 20:33:34,427.0,116.0
116176,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-08-31,02:16:40,REGULAR,72158,27433,2019-08-31 02:16:40,nan,nan
116177,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-08-31,06:42:40,REGULAR,72196,27491,2019-08-31 06:42:40,38.0,58.0
116178,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-08-31,10:54:40,REGULAR,72362,27508,2019-08-31 10:54:40,166.0,17.0
116179,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-08-31,15:06:40,REGULAR,72623,27531,2019-08-31 15:06:40,261.0,23.0
116180,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-08-31,19:18:40,REGULAR,72805,27568,2019-08-31 19:18:40,182.0,37.0
116181,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-08-31,23:30:40,REGULAR,72904,27581,2019-08-31 23:30:40,99.0,13.0
116182,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-01,03:42:40,REGULAR,72912,27601,2019-09-01 03:42:40,8.0,20.0
116183,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-01,07:54:40,REGULAR,72959,27627,2019-09-01 07:54:40,47.0,26.0
116184,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-01,12:06:40,REGULAR,73140,27648,2019-09-01 12:06:40,181.0,21.0
116185,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-01,16:18:40,REGULAR,73348,27680,2019-09-01 16:18:40,208.0,32.0
116186,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-01,20:30:40,REGULAR,73464,27697,2019-09-01 20:30:40,116.0,17.0
116187,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-02,00:42:40,REGULAR,73504,27750,2019-09-02 00:42:40,40.0,53.0
116188,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-02,05:08:40,REGULAR,73513,27799,2019-09-02 05:08:40,9.0,49.0
116189,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-02,09:20:40,REGULAR,73593,27810,2019-09-02 09:20:40,80.0,11.0
116190,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-02,13:32:40,REGULAR,73714,27815,2019-09-02 13:32:40,121.0,5.0
116191,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-02,17:44:40,REGULAR,73843,27833,2019-09-02 17:44:40,129.0,18.0
116192,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-02,21:56:40,REGULAR,73914,27879,2019-09-02 21:56:40,71.0,46.0
116193,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-03,02:08:40,REGULAR,73931,27919,2019-09-03 02:08:40,17.0,40.0
116194,PTH03,R552,00-00-02,JOURNAL SQUARE,1,PTH,2019-09-03,06:20:40,REGULAR,73987,27936,2019-09-03 06:20:40,56.0,17.0

looking at general ridership for Journal Square, it is a station with very low ridership, numbers usually not exceeding the double digits. the values of 7000 must be deleted.

as a rule, then, based on the last several test cases, even if data looks to fall within a normal range at first glance, it may be anomolous for it's stations normal values and caused only by a turnstile reset/error. The context that comes from looking at surrounding data points makes this clear.

one solution could be to remove negative data points, and then remove the two adjacent entries. as shown in the two above examples, sometimes a negative value can be predeced by a super high value that caused its error, or sometimes it can cauase a super high value after it because it itself is the error or was caused by a turnstile reset. deleting all 3 points could be a reasonable move just to account for all possible cases. the amount of data lost will be insignificant when compared to how drastically the error values would offset the means.

In [78]:
# checking out the next highest exits value after Journal Square
df.loc[97422]

C/A                            N505
UNIT                           R022
SCP                        02-00-02
STATION             34 ST-HERALD SQ
LINENAME                   BDFMNQRW
DIVISION                        IND
DATE            2019-09-06 00:00:00
TIME                       16:00:00
DESC                        REGULAR
ENTRIES                     7515309
EXITS                       3880256
DATETIME        2019-09-06 16:00:00
REAL_ENTRIES                  503.0
REAL_EXITS                   5598.0
Name: 97422, dtype: object

In [84]:
# checking out adjacent data points
df.loc[97415:97430]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,REAL_ENTRIES,REAL_EXITS
97415,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,16:00:00,REGULAR,7513913,3874097,2019-08-31 16:00:00,190.0,190.0
97416,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,20:00:00,REGULAR,7514166,3874253,2019-08-31 20:00:00,253.0,156.0
97417,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-01,00:00:00,REGULAR,7514394,3874341,2019-09-01 00:00:00,228.0,88.0
97418,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-01,04:00:00,REGULAR,7514460,3874366,2019-09-01 04:00:00,66.0,25.0
97419,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-01,08:00:00,REGULAR,7514488,3874395,2019-09-01 08:00:00,28.0,29.0
97420,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-01,12:00:00,REGULAR,7514641,3874506,2019-09-01 12:00:00,153.0,111.0
97421,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-01,16:00:00,REGULAR,7514806,3874658,2019-09-01 16:00:00,165.0,152.0
97422,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-06,16:00:00,REGULAR,7515309,3880256,2019-09-06 16:00:00,503.0,5598.0
97423,N505,R022,02-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-06,20:00:00,REGULAR,7516273,3880501,2019-09-06 20:00:00,964.0,245.0
97424,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,00:00:00,REGULAR,9247728,5598915,2019-08-31 00:00:00,nan,nan
97425,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,04:00:00,REGULAR,9247782,5598931,2019-08-31 04:00:00,54.0,16.0
97426,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,08:00:00,REGULAR,9247798,5598968,2019-08-31 08:00:00,16.0,37.0
97427,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,12:00:00,REGULAR,9247904,5599093,2019-08-31 12:00:00,106.0,125.0
97428,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,16:00:00,REGULAR,9248074,5599241,2019-08-31 16:00:00,170.0,148.0
97429,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-08-31,20:00:00,REGULAR,9248260,5599394,2019-08-31 20:00:00,186.0,153.0
97430,N505,R022,02-00-03,34 ST-HERALD SQ,BDFMNQRW,IND,2019-09-01,00:00:00,REGULAR,9248457,5599486,2019-09-01 00:00:00,197.0,92.0

So, ~5000 is high for this station, but not super (orders of magnitude) far off from its regular ridership which gets up into the thousands. It is not preceded or followed by any negative values or obvious errors, and the entry data given by the turnstile at the same time was a normal value. So, I'd make the case to leave this data point alone.

In [88]:
# checking out lowest data points: 
df["REAL_ENTRIES"].sort_values().head(25), df["REAL_EXITS"].sort_values().head(25)

(193155   -12409434.0
 193323    -8327252.0
 20539     -6346214.0
 193407    -5369163.0
 81155     -4584498.0
 19507     -1599300.0
 36983      -480406.0
 101571     -350664.0
 46403      -202825.0
 65480      -101194.0
 116105      -92201.0
 37108       -86120.0
 37006       -74424.0
 122458      -66281.0
 71539       -61315.0
 131361      -41994.0
 15624       -36550.0
 120801      -18344.0
 121523       -9925.0
 125926       -8925.0
 141693       -7688.0
 116894       -7577.0
 116876       -7271.0
 11542        -1665.0
 11530        -1651.0
 Name: REAL_ENTRIES, dtype: float64,
 193407   -14768030.0
 193155    -9983375.0
 193323    -8464033.0
 81155     -1161890.0
 19507     -1109372.0
 20539     -1010106.0
 46403      -421614.0
 15624      -251664.0
 101571     -242022.0
 36983      -141218.0
 71539      -137066.0
 131361     -129645.0
 37108      -114594.0
 116105     -110894.0
 122458      -35934.0
 65480       -21533.0
 37006       -15190.0
 141693      -13386.0
 125926      -10000.0
 116894       -6487.0
 116876       -6234.0
 158959       -2758.0
 158957       -2732.0
 158951       -2719.0
 158963       -2669.0
 Name: REAL_EXITS, dtype: float64)

negative data points need to be deleted, as well as the row that immediately precedes and immediately follows each.

## filtering data:

to mitigate error, we have chosen to simply delete rows with erroneous either entry or exit data, as well as the surrounding 2 rows, one of which will also hold erroneous data. given that the scope of data we are looking at is sum of ridership over 3 months, the effect of losing these occasional entries is minute.

In [93]:
# removing negative values, and adjacent entries: 

df[df["REAL_ENTRIES"] < 0], df[df["REAL_EXITS"] < 0]

(         C/A  UNIT       SCP          STATION LINENAME DIVISION       DATE  \
 1597    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1598    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1599    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1600    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1601    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 ...      ...   ...       ...              ...      ...      ...        ...
 202994  R730  R431  00-00-04  EASTCHSTER/DYRE        5      IRT 2019-09-06
 202995  R730  R431  00-00-04  EASTCHSTER/DYRE        5      IRT 2019-09-06
 202996  R730  R431  00-00-04  EASTCHSTER/DYRE        5      IRT 2019-09-06
 202997  R730  R431  00-00-04  EASTCHSTER/DYRE        5      IRT 2019-09-06
 202998  R730  R431  00-00-04  EASTCHSTER/DYRE        5      IRT 2019-09-06

             TIME     DESC     ENTRIES       EXITS            DATETIME  \
 1597    04:00:00  REGULAR   885823349   490339801 2019-08-31 04:00:00
 1598    08:00:00  REGULAR   885823338   490339691 2019-08-31 08:00:00
 1599    12:00:00  REGULAR   885823252   490339457 2019-08-31 12:00:00
 1600    16:00:00  REGULAR   885823184   490339103 2019-08-31 16:00:00
 1601    20:00:00  REGULAR   885823072   490338758 2019-08-31 20:00:00
 ...          ...      ...         ...         ...                 ...
 202994  05:00:00  REGULAR  1559937156  1728188635 2019-09-06 05:00:00
 202995  09:00:00  REGULAR  1559936870  1728188675 2019-09-06 09:00:00
 202996  13:00:00  REGULAR  1559936794  1728188691 2019-09-06 13:00:00
 202997  17:00:00  REGULAR  1559936732  1728188778 2019-09-06 17:00:00
 202998  21:00:00  REGULAR  1559936679  1728188846 2019-09-06 21:00:00

         REAL_ENTRIES  REAL_EXITS
 1597           -33.0       -60.0
 1598           -11.0      -110.0
 1599           -86.0      -234.0
 1600           -68.0      -354.0
 1601          -112.0      -345.0
 ...              ...         ...
 202994          -1.0         2.0
 202995        -286.0        40.0
 202996         -76.0        16.0
 202997         -62.0        87.0
 202998         -53.0        68.0

 [1853 rows x 14 columns],
          C/A  UNIT       SCP          STATION LINENAME DIVISION       DATE  \
 1597    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1598    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1599    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1600    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 1601    A011  R080  01-03-00       57 ST-7 AV     NQRW      BMT 2019-08-31
 ...      ...   ...       ...              ...      ...      ...        ...
 201944  R646  R110  01-00-01  FLATBUSH AV-B.C       25      IRT 2019-09-06
 201945  R646  R110  01-00-01  FLATBUSH AV-B.C       25      IRT 2019-09-06
 201946  R646  R110  01-00-01  FLATBUSH AV-B.C       25      IRT 2019-09-06
 201947  R646  R110  01-00-01  FLATBUSH AV-B.C       25      IRT 2019-09-06
 201948  R646  R110  01-00-01  FLATBUSH AV-B.C       25      IRT 2019-09-06

             TIME     DESC     ENTRIES       EXITS            DATETIME  \
 1597    04:00:00  REGULAR   885823349   490339801 2019-08-31 04:00:00
 1598    08:00:00  REGULAR   885823338   490339691 2019-08-31 08:00:00
 1599    12:00:00  REGULAR   885823252   490339457 2019-08-31 12:00:00
 1600    16:00:00  REGULAR   885823184   490339103 2019-08-31 16:00:00
 1601    20:00:00  REGULAR   885823072   490338758 2019-08-31 20:00:00
 ...          ...      ...         ...         ...                 ...
 201944  05:00:00  REGULAR  1506822864  1314001186 2019-09-06 05:00:00
 201945  09:00:00  REGULAR  1506822122  1314001128 2019-09-06 09:00:00
 201946  13:00:00  REGULAR  1506821830  1314000992 2019-09-06 13:00:00
 201947  17:00:00  REGULAR  1506821523  1314000724 2019-09-06 17:00:00
 201948  21:00:00  REGULAR  1506821367  1314000413 2019-09-06 21:00:00

         REAL_ENTRIES  REAL_EXITS
 1597           -33.0       -60.0
 1598           -11.0      -110.0
 1599           -86.0      -234.0
 1600           -68.0      -354.0
 1601          -112.0      -345.0
 ...              ...         ...
 201944         -15.0       -11.0
 201945        -742.0       -58.0
 201946        -292.0      -136.0
 201947        -307.0      -268.0
 201948        -156.0      -311.0

 [1399 rows x 14 columns])