In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 3)
pd.set_option('display.float_format', lambda x: '%.1f' % x)

Loading in data, Sept 7th to Dec 7th, respresenting the fall semester for NYC public schools:

In [49]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
# weeks: sept 7th to december 7th, 2019    
week_nums = [190907, 190914, 190921, 190928, 191005, 191012, 191019,
            191026, 191102, 191109, 191116, 191123, 191130, 191207]
df_read = get_data(week_nums)

Making the DataFrame we're working with a copy of the read-in data, so if an incorrect manipulation is made, can be reset easily without having to read in data again:

In [50]:
df = df_read 
df.shape

(2882165, 11)

Creating a DATETIME column, and replacing DATE and TIME columns' entries (currently, 'object' types) with 'datetime objects':

In [51]:
df["DATETIME"] = pd.to_datetime(df["DATE"] + " " + df["TIME"], format="%m/%d/%Y %H:%M:%S")

In [52]:
df["DATE"] = pd.to_datetime(df["DATE"], format="%m/%d/%Y")
df["TIME"] = pd.to_datetime(df["TIME"])

Cleaning up column name for EXIT column, which had many trailing spaces:

In [53]:
df.rename(columns={'EXITS                                                               ':"EXITS"}, inplace=True)

Finding actual entries and exits for each row (typically, 4-hour time period) by finding difference between each entry/exit 'total count' value and the value that precedes it, for each turnstile. We are filtering by C/A, UNIT, and SCP, since those 3 descriptors together define a single turnstile:

In [54]:
df.reset_index(inplace=True)

In [55]:
real_entries = df.groupby(["C/A", "UNIT", "SCP"]).agg({"ENTRIES": "diff"})

In [56]:
real_exits = df.groupby(["C/A", "UNIT", "SCP"]).agg({"EXITS": "diff"})

> The above used pandas "diff" as aggregating function. From pandas documention for "diff": "Calculates the difference of a DataFrame element compared with another element in the DataFrame (default is the element in the same column of the previous row)." This is exactly what we wanted to do. We broke it up into each individual unit first, becuase we only want it to subtract from entry/exit data for its own turnstile. therefore, first values for each turnstile, with nothing to subtract from (no preceding value), return NaN.

Adding new columns for actual entries and exits to the DataFrame:

In [57]:
df["REAL_ENTRIES"] = real_entries["ENTRIES"]
df["REAL_EXITS"] = real_exits["EXITS"]

Exploring the new real traffic data: there are many values which appear that are erroneous -- some which are extremely large and not possibly representative of real entries or exits in a 4-hour period, and some which are negative. Both types are likely caused by turnstile errors or resets, and need to be removed. Examples of the most extemely erroneous data included below:

In [58]:
df["REAL_ENTRIES"].sort_values(ascending=False).head(10)

2440547   2037956058.0
2027192   1754729527.0
1402753   1704548686.0
2027234   1554189845.0
1157898    730710276.0
1157894    730710263.0
1157896    730710262.0
1157892    730710255.0
1157890    730710208.0
73163      718560745.0
Name: REAL_ENTRIES, dtype: float64

In [59]:
df["REAL_EXITS"].sort_values(ascending=False).head(10)

73163     1886405893.0
1402753   1019395842.0
2440547    902456873.0
366070     568618937.0
1408555    300790885.0
1815960    267405278.0
2027192    150359755.0
2027234    133731198.0
1744346    100844994.0
1616439    100304985.0
Name: REAL_EXITS, dtype: float64

In [60]:
df["REAL_ENTRIES"].sort_values().head(10)

1068802   -2025847485.0
792556    -2013355772.0
1204647   -1186521378.0
1068768   -1121336461.0
386825     -991539584.0
1157895    -730710262.0
1157897    -730710254.0
1157893    -730710240.0
1157899    -730710220.0
1157891    -730710088.0
Name: REAL_ENTRIES, dtype: float64

In [61]:
df["REAL_EXITS"].sort_values().head(10)

1068768   -1907466468.0
1204647    -885740374.0
792556     -839005509.0
1397682    -721823991.0
436975     -701914974.0
1068802    -622024878.0
386825     -504187450.0
2024480     -50412910.0
742744      -50330882.0
207269      -20876713.0
Name: REAL_EXITS, dtype: float64

First, removing the negative and NaN values from the data, knowing that this will remove the entire row which contains the error.

In [62]:
df = df.loc[df["REAL_ENTRIES"] >= 0]

In [63]:
df = df.loc[df["REAL_EXITS"] >= 0]

In [64]:
df.shape

(2843278, 15)

So far, this has removed about 80,000 data points, which constitues only 2.5% of the total data. We have decided it is appropriate to remove this amount of data, since it not only comprises a very small percentage, but also because including the data would be for more skewing to our results since the values are so incorrect than would simply removing them.

Now, we want to remove the very large values -- practically, we want to eliminate entry/exit data which is abnormal for its specific turnstile/station. Some values (2000, e.g.) may be very normal for certain stations (like Times Square), but may be highly irregular for another station. If we define a cutoff threshhold above some general number for all of the data, that would allow 2000 to stay; but if a turnstile's average 4-hour ridership is only 15 people, a value of 2000 should in fact be removed and indicates an error (or, at best, a one-time anomolous event which we don't need to base our average values on anyway). It is for this reason that an arbitrary cut off value should not be chosen for the entire dataset, but rather averages for each station should inform that stations individual cutoff value for an unrealistic/error entry to be removed.

To do this first requires finding average 4-hour (single-row) ridership values for each station. We are grouping by both STATION and LINENAME because we discovered that multiple stations have the same name, but are in fact separate (though nearby) and service different lines. Therefore it is the combination of STATION and LINENAME which comprise a single station. We are also using median over mean as our determination of 'average' ridership, because median values will be less skewed by the presence of extremely large error numbers.

In [103]:
station_averages = df.groupby(["STATION", "LINENAME"])[["REAL_ENTRIES", "REAL_EXITS"]].mean()
station_std = df.groupby(["STATION", "LINENAME"])[["REAL_ENTRIES", "REAL_EXITS"]].std()

In [104]:
station_averages.reset_index(inplace=True)
station_std.reset_index(inplace=True)

In [105]:
station_averages.rename(columns={"REAL_ENTRIES":"AVERAGE_ENTRIES"}, inplace=True)
station_averages.rename(columns={"REAL_EXITS":"AVERAGE_EXITS"}, inplace=True)
station_std.rename(columns={"REAL_ENTRIES":"ENTRIES_STD"}, inplace=True)
station_std.rename(columns={"REAL_EXITS":"EXITS_STD"}, inplace=True)

Adding columns for average values into main DataFrame:

In [111]:
df = pd.merge(left=df, right=station_averages, left_on=["STATION", "LINENAME"], right_on=["STATION", "LINENAME"])

In [116]:
df = pd.merge(left=df, right=station_std, left_on=["STATION", "LINENAME"], right_on=["STATION", "LINENAME"])

In [118]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,REAL_ENTRIES,REAL_EXITS,AVERAGE_ENTRIES,AVERAGE_EXITS,ENTRIES_STD,EXITS_STD
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,2020-07-03 04:00:00,REGULAR,7183258,2433149,2019-08-31 04:00:00,16.0,7.0,152.9,99.1,178.7,166.8
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,2020-07-03 08:00:00,REGULAR,7183278,2433176,2019-08-31 08:00:00,20.0,27.0,152.9,99.1,178.7,166.8
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,2020-07-03 12:00:00,REGULAR,7183393,2433262,2019-08-31 12:00:00,115.0,86.0,152.9,99.1,178.7,166.8
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,2020-07-03 16:00:00,REGULAR,7183572,2433312,2019-08-31 16:00:00,179.0,50.0,152.9,99.1,178.7,166.8
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-08-31,2020-07-03 20:00:00,REGULAR,7183842,2433348,2019-08-31 20:00:00,270.0,36.0,152.9,99.1,178.7,166.8

Now, using average values to filter out any single 4-hour entry with ridership greater than 3 standard deviations from the mean. This will remove error values and also even if it removes a real value, if there was a surge of 2 orders of magnitude it is probably a standalone event that doesn't help inform our data.

In [122]:
df = df.loc[df["REAL_ENTRIES"] < 3*df["ENTRIES_STD"]]

In [123]:
df = df.loc[df["REAL_EXITS"] < 3*df["EXITS_STD"]]

In [124]:
df.shape

(2515606, 18)

Even after the removal of these high positive values, we have lost only about 4% of the total data.

Now in observing the highest entry values, they are of normal and expected magnitude:

In [81]:
df["REAL_ENTRIES"].sort_values(ascending=False).head(10)

367310    14832.0
367267    10233.0
1256340    5968.0
1652732    5204.0
833191     5137.0
335157     4830.0
833233     4426.0
1257520    4399.0
2221917    4308.0
1652721    4270.0
Name: REAL_ENTRIES, dtype: float64

In [82]:
df.loc[367310]

index                            23405
C/A                               C022
UNIT                              R212
SCP                           01-00-02
STATION                          59 ST
LINENAME                           NRW
DIVISION                           BMT
DATE               2019-09-28 00:00:00
TIME               2020-07-03 00:00:00
DESC                           REGULAR
ENTRIES                         108080
EXITS                            52175
DATETIME           2019-09-28 00:00:00
REAL_ENTRIES                   14832.0
REAL_EXITS                      7693.0
AVERAGE_ENTRIES                  149.0
AVERAGE_EXITS                     93.0
Name: 367310, dtype: object

In [87]:
df.loc[367267]

index                            23362
C/A                               C022
UNIT                              R212
SCP                           01-00-01
STATION                          59 ST
LINENAME                           NRW
DIVISION                           BMT
DATE               2019-09-28 00:00:00
TIME               2020-07-03 00:00:00
DESC                           REGULAR
ENTRIES                          80173
EXITS                            50558
DATETIME           2019-09-28 00:00:00
REAL_ENTRIES                   10233.0
REAL_EXITS                      7636.0
AVERAGE_ENTRIES                  149.0
AVERAGE_EXITS                     93.0
Name: 367267, dtype: object

In [83]:
df["REAL_EXITS"].sort_values(ascending=False).head(10)

1999665   15980.0
367310     7693.0
367267     7636.0
833275     6624.0
43561      5598.0
1945522    5203.0
334899     5184.0
778290     5097.0
778339     5064.0
774996     5005.0
Name: REAL_EXITS, dtype: float64

In [84]:
df.loc[1999665]

index                           142271
C/A                              R161A
UNIT                              R452
SCP                           01-06-04
STATION                          72 ST
LINENAME                           123
DIVISION                           IRT
DATE               2019-11-21 00:00:00
TIME               2020-07-03 16:00:00
DESC                           REGULAR
ENTRIES                         113700
EXITS                           253104
DATETIME           2019-11-21 16:00:00
REAL_ENTRIES                     320.0
REAL_EXITS                     15980.0
AVERAGE_ENTRIES                  205.0
AVERAGE_EXITS                    198.0
Name: 1999665, dtype: object

Observing the new data, there are only 3 values that seem to still be obviously erroneous