In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190907.txt")

In [4]:
real_entries = df.groupby(["C/A", "UNIT", "SCP"]).agg({"ENTRIES": "diff"})

In [5]:
real_entries

        ENTRIES
0           NaN
1          16.0
2          20.0
3         115.0
4         179.0
...         ...
204790      0.0
204791      0.0
204792      0.0
204793      0.0
204794      0.0

[204795 rows x 1 columns]